@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Orbitron", sans-serif;
    background: radial-gradient(circle at center, #0a0a0a, #000);
    color: #fff;
}

#topBar {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.title {
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px #00aaff, 0 0 30px #00aaff;
}

.hud {
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #eee;
    text-shadow: 0 0 10px #00ff99;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#gameOverScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.88);
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    z-index: 20;
    text-shadow: 0 0 20px red;
}

#gameOverScreen button {
    margin-top: 20px;
    padding: 12px 28px;
    font-size: 25px;
    background: #111;
    border: 2px solid #ff4444;
    color: #ff4444;
    cursor: pointer;
    transition: 0.2s;
    font-family: "Orbitron";
}

#gameOverScreen button:hover {
    background: #ff4444;
    color: black;
    box-shadow: 0 0 20px #ff4444;
}
